/* http://www.freedotnetnukeskins.com */ 

/* One ___________________________________________________________________________________________*/
.containermaster1_Coal {
	width: 100%;
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px
}
.containerrow1b_Coal {		
	background-color:#666666;
	BORDER-RIGHT: #313131 0px solid; 
	BORDER-TOP: #313131 0px solid; 
	BORDER-LEFT: #313131 0px solid; 
	BORDER-BOTTOM: #313131 1px solid;	
}
.containerrow1c_Coal {
	color: #ffffff;
	background-color: #707070;	
	padding: 8px 8px 0px 8px;
}
.font1d {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

/* Two _________________________________________________________________________________________*/
.containermaster2_Coal {
	width: 100%;
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px
}
.containerrow2b_Coal {
	color: #ffffff;
	background-color: #313131;
	BORDER-RIGHT: #666 1px solid; 
	BORDER-TOP: #666 1px solid; 
	BORDER-LEFT: #666 1px solid; 
	BORDER-BOTTOM: #666 1px solid;	
}
.containerrow2c_Coal {
	color: #ffffff;		
	background-color:#666666;	
	padding: 8px 8px 0px 8px;
}
.font2d {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}
	
/* Three ___________________________________________________________________________________________*/
.containermaster3_Coal {
	width: 100%;		
	background-color:#666666;
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px
}
.containerrow3a_Coal {
	background-color: #999999;	
}
.containerrow3c_Coal {
	color: #ffffff;		
	background-color:#666666;	
	padding: 8px 8px 0px 8px;
}
.font3d {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

/* Four ___________________________________________________________________________________________*/
.containermaster4_Coal {
	width: 100%;		
	background-color:#666666;
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px
}
.containerrow4b_Coal {
	background:url(smenubg.png);
}
.containermaster42_Coal {
	width: 100%;
	background-color: #666666;
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px
}
.containerrow4c2_Coal {	
	color: #ffffff;
	padding: 8px 8px 0px 8px;
}
.font4d{
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

/* http://www.freedotnetnukeskins.com */ 

