/* http://www.freedotnetnukeskins.com */ 

/*Control panel ___________________________________________________________________________________*/
.controlpanel{ background:#FFF; border:#B7B7B7 solid; border-width:0px 0px 2px; }
.controlpanel IMG{ margin:15px 5px 0px; }
.controlpanel TD TD TD TD IMG{ margin:0px; }
.controlpanel TD TD TD{ width:auto; }
.controlpanel DIV{ border:#B7B7B7 solid; border-width:0px 1px; width:3px; height:100px; }
.controlpanel TD .SubHead{ background:#fff; font-size:12px; color:#333; font-weight:bold; }
.controlpanel TD TD TD .SubHead{ background:transparent; border:0px; font-size:11px; color:#333; font-weight:normal; }
.controlpanel TD TD TD input{ background:#EFEFEF; font-size:11px; color:#000; font-weight:bold; padding-left:4px; }
.controlpanel TD TD TD select{ background:#EFEFEF; font-size:11px; color:#333; }
.controlpanel A.CommandButton{ font-size:10px; text-decoration:none; }
.controlpanel A.CommandButton:link{ color:#000; text-decoration:none; }
.controlpanel A.CommandButton:visited{ color:#000; text-decoration:none; }
.controlpanel A.CommandButton:hover{ color:#F00; text-decoration:underline;}
.controlpanel A.CommandButton:active{ color:#000; text-decoration:none; }

/* Table __________________________________________________________________________________________*/
.body{ width:100%; height:100%; text-align:center; border-left:0px; border-right:0px; background:url(media/bg2.png); padding:10px; }
.Head{ font-size:15px; font-weight:bold; color:#333; }
.SubHead{ font-size:14px; font-weight:bold; color:#999; }
.SubSubHead{ font-size:13px; font-weight:bold; color:#666; }
.Normal{ font-size:13px; }
TD,TH,DIV,SPAN{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; }

/* Sections _______________________________________________________________________________________*/
.top{ width:100%; text-align:right; margin:0px auto; padding:4px 20px 4px 20px; background:#666; }
.wraptable{ width:950px; height:100%; margin:0px auto; background:#333; }	
.menubg{ width:100%; background:url(media/menubg.png); padding-left:4px; }
.bar{ background:#transparent; width:100%; padding: 0px 10px 0px 15px; color:#fff; }
.bottom{ width:100%; text-align:left; margin:0px auto; padding:10px 0px 0px 20px; background:#000; }

/* Panes __________________________________________________________________________________________*/
.headerpane{ padding:10px 15px 10px 10px; width:100%; text-align:center; }
.toppane{ padding:10px; text-align:center;  }
.leftpane{ padding-left: 10px; text-align:center;  }
.rightpane{ padding-right:10px; text-align:center;  }
.contentpane{ padding:0px 10px; text-align:center;  }
.bottompane{ padding:10px; text-align:center;  }

/* Links ___________________________________________________________________________________________*/
a:link{ color:#ff0; text-decoration:none; }
a:visited{ color:#ff0; text-decoration:none; }
a:hover{ color:#ff0; text-decoration:underline; }
a:active{ color:#ff0; text-decoration:none; }

/* User ___________________________________________________________________________________________*/
.user{ color:#fff; font-size:12px; }
a.user:link{ color:#fff; text-decoration:none; }
a.user:visited{ color:#fff; text-decoration:none; }
a.user:hover{ color:#ff0; text-decoration:none; }
a.user:active{ color:#fff; text-decoration:none; }

/* Search _________________________________________________________________________________________*/
a.search{ vertical-align:middle; color:#fff; }
a.search:link{ color:#fff; text-decoration:none; }
a.search:hover{ color:#ff0; text-decoration:none; }
.search input{ border:1px #DDD solid; }

/* Footer _________________________________________________________________________________________*/
.footer{ color:#fff; font-size:12px; }
a.footer:link{ color:#fff; text-decoration:none; }
a.footer:visited{ color:#fff; text-decoration:none; }
a.footer:hover{ color:#ff0; text-decoration:none; }
a.footer:active{ color:#fff; text-decoration:none; }

/* Main Menu ______________________________________________________________________________________*/
.MainMenu_MenuContainer{ width:98%; background:transparent; }
.MainMenu_RootMenuArrow{ display:none; }
.MainMenu_MenuIcon{ display:none; }
.MainMenu_MenuArrow{ display:none; }
.MainMenu_MenuBreak{ display:none; }
.submenu{
	z-index:1000;
	background:#999;  
	border:0px #bbb solid; 
	padding:2px;
	margin-left:2px;
	-moz-border-right-colors: ThreeDShadow ThreeDShadow transparent;
	-moz-border-bottom-colors: ThreeDShadow ThreeDShadow transparent;
}
.rootmenuitem TD{
	color:#FFF; 
	font-size:12px; 
	font-weight:bold;
	border:0px;
	background:url(media/menubg.png);	
	padding:0px 4px 2px 4px;
	height:38px;
}
.rootmenuitemselected TD{
	color:#FF0; 
	font-size:12px; 
	font-weight:bold;
	border:0px; 
	background:url(media/menubg2.png);	
	padding:0px 4px 2px 4px;
	height:38px;
}
.rootmenuitembreadcrumb TD{
	color:#FF0; 
	font-size:12px; 
	font-weight:bold;
	border:0px;
	background:url(media/menubg2.png);	
	padding:0px 4px 2px 4px;
	height:38px;
}
.MainMenu_MenuItem{
	color:#fff; 
	font-size:11px; 
	font-weight:bold;
	border-width:0px;
	background:url(media/smenubg.png);
	padding:4px 10px 4px 5px;
	margin-bottom:0px;
	margin-top:0px;	 
}
.submenuitembreadcrumb{
	color:#FF0; 
	font-size:11px; 
	font-weight:bold;
	border-width:0px;
	background:url(media/smenubg2.png);
	padding:4px 10px 4px 5px;
	margin-bottom:0px;
	margin-top:0px;
}
.submenuitemselected{
	color:#ff0;
	font-size:11px; 
	font-weight:bold;
	border-width:0px;
	background:url(media/smenubg2.png);
	padding:4px 10px 4px 5px;
	margin-bottom:0px;
	margin-top:0px;	
}

/* http://www.freedotnetnukeskins.com ______________________________________________________________ */ 




