#verticaltextmenu,
ul.bsm{
	margin: 0px auto;
	border:1px solid #B0B0B0;
	list-style-type: none;
}

ul.bsm li{
	border-left:2px solid #FFFFFF;
}
ul.bsm li.first,
#verticaltextmenu div.first{
	border-style: none;
}
ul.vertical li,
div.vertical div{
	border-top: 2px solid #ffffff;
	border-left-style: none;
}

#textmenu,
#fullwidthmenu{
	font-size:14pt;
	font-weight:bold;
}
#textmenu li,
#fullwidthmenu li{
	background-image:url(../img/icons/byslidemenu.png);
	background-repeat:no-repeat;
	padding:4px 0 0 40px;
}
#textmenu li.icon1, #fullwidthmenu li.icon1{ background-position: 9px 4px; }
#textmenu li.icon2, #fullwidthmenu li.icon2{ background-position: 9px -22px; }
#textmenu li.icon3, #fullwidthmenu li.icon3{ background-position: 9px -48px; }
#textmenu li.icon4, #fullwidthmenu li.icon4{ background-position: 9px -74px; }
#textmenu li.icon5, #fullwidthmenu li.icon5{ background-position: 9px -100px; }
#textmenu li.icon6, #fullwidthmenu li.icon6{ background-position: 9px -126px; }
#textmenu li.icon7, #fullwidthmenu li.icon7{ background-position: 9px -152px; }
#textmenu li.icon8, #fullwidthmenu li.icon8{ background-position: 9px -178px; }
#textmenu li.icon9, #fullwidthmenu li.icon9{ background-position: 9px -204px; }

.bg1{ background-color: #F3F3F3; }
.bg2{ background-color: #E5E5E5; }

#verticaltextmenu h5{
	font-size:16pt;
	margin:2px 0 0;
	text-align:center;
}
#verticaltextmenu p{
	font-size:14pt;
	margin:0px;
	padding:5px;
	text-align:justify;
}