html, body{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url('../img/interface/body_bg.png');
	background-repeat: repeat-x;
	background-color: #3c3c3c;
	font-family: arial, verdana, sans-serif;
}

a{
	color: #505055;
}

a:hover{
	color: #ff9c00;
}

a img{
	border-style: none;
}

img.icon{
	vertical-align: -2px;
}

#container{
	width: 1024px;
	background-image: url('../img/interface/container_bg.png');
	background-repeat: repeat-y;
	margin: 0px auto 30px;
}

#header{
	background-image: url('../img/interface/header_bg.png');
	background-repeat: repeat-y;
	height: 110px;
	padding: 0px 65px;
	overflow: hidden;
}
#header h1{
	margin-bottom: 0px;
	text-align: left;
}

#header #logo{
	display: block;
	background-image: url('../img/interface/logo_bg.png');
	background-repeat: no-repeat;
	margin-top: 20px;
	text-decoration: none;
	font-size: 32pt;
	padding: 32px 0px 0px 32px;
}
div#change_lang{
	text-align: right;
	font-size: 8pt;
	font-weight: bold;
	margin-right: 60px;
}
div#change_lang a{
	color: #ffffff;
}

span.by{
	color: #ffffff;
}

span.scripts{
	color: #ffa525;
}

#top_menu{
	background-image: url('../img/interface/top_menu_bg.png');
	background-repeat: no-repeat;
	height: 36px;
	color: #505050;
	padding-top: 14px;
	font-weight: bold;
	text-align: center;
}

#byscripts_menu{
	list-style-type: none;
	margin: 0px 92px 0px 92px;
}
#byscripts_menu li{
	background-image: url('../img/interface/byscripts_menu_bg.png');
	background-repeat: repeat-x;
	border-left: 2px solid #c7c7c7;
	float: left;
}
#byscripts_menu a{
	color: #505050;
	font-weight: bold;
	text-decoration: none;
	display: block;
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding: 6px 0px 0px 27px;
	height: 26px;
	text-align: center;
}

#byscripts_menu li.home, #byscripts_menu li.last{ border-left-style: none; }
#byscripts_menu li.home a{ background-image: url('../img/icons/home.png'); }
#byscripts_menu li.mootools a{ background-image: url('../img/icons/mootools.png'); }
#byscripts_menu li.development a{ background-image: url('../img/icons/development.png'); }
#byscripts_menu li.references a{ background-image: url('../img/icons/references.png'); }

#content{
	width: 814px;
	border: 2px solid #f89f1c;
	margin: 20px auto 0px;
	padding: 10px;
	background-color: #ffffff;
}

#content p{
	font-weight:bold;
	margin:10px 20px;
	text-align:justify;
}

#content p.to_home{
	font-size: 8pt;
	margin-left: 0px;
	margin-top: 0px;
}

#adsense{
	text-align: center;
}

ul{
	padding-left: 10px;
}

#footer{
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	letter-spacing: 3px;
	color: #a1a1a7;
	padding: 10px;
	background-image: url('../img/interface/footer_bg.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-bottom: 26px;
}

h1{
	font-size: 20pt;
	text-align: center;
}

h2{
	color: #ffffff;
	background-color: #f89f1c;
	font-size: 12pt;
	letter-spacing: 5px;
	padding: 4px 10px;
	background-image: url('../img/interface/title_bg.png');
	background-repeat: repeat-x;
	background-position: top right;
	font-family: Arial, Verdana, sans-serif;
}

h3{
	border-bottom: 1px solid #E68D0A;
	color: #E68D0A;
	font-size: 12pt;
	padding: 3px 20px;
}

h4{
	border-bottom: 1px solid #ffa623;
	color: #ffa623;
	font-size: 10pt;
	padding: 4px 40px;
}

div.desc{
	border-left: 4px solid #f89f1c;
	font-size: 10pt;
	margin: 10px 15px;
	padding-left: 15px;
	text-align: justify;
	color: #000000;
	letter-spacing: 1px;
	line-height: 20px;
}

p.note{
	font-size: 8pt;
	margin: 0px;
}

table{
	border-collapse: collapse;
}

th, td{
	padding: 5px 10px;
}
td{
	border-bottom: 1px solid #e0e0e0;
}
td.type{
	font-style: italic;
}
td.default{
	font-weight: bold;
}


.sc2 {color: #000000;}
.kw2 {color: #0000FF;}
.kw3 {color: #000000;}
.me1 {color: #000080;}
.sy0 {color: #66cc66;}
.br0 {color: #ff5000;}
.nu0 {color: #ff9000;}
.st0 {color: #008000;}
.li1 {background-color: #fcfcfc}
.li2 {background-color: #f5f5f5}
.li1,.li2 {padding: 2px 10px}
ol{ margin: 0px;padding-left:35px}
code, pre, div.pre{
	border: 1px dashed #D0D0D0;
	font-family: "Courier New",Courier,monospace;
	font-size: 10pt;
	letter-spacing: 1px;
}

code{
	letter-spacing: 2px;
	padding: 1px 4px;
	background-color: #f5f5f5;
	color: #000000;
}
div.pre{
	padding: 0px;
	background-color: #F0F0F0;
	white-space: pre;
}
#content p.ratio{
	text-align: center;
	font-size: 10pt;
}


img.bymagnifier{
	width: 150px;
}
#bymagnifierFrame{
	position: relative;
	width: 300px;
	height: 200px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	background-image: url(/byscripts/assets/img/icons/magnifier.png);
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 10px;
}
#original{
	position: absolute;
	left: 0px;
	top: 0px;
}
