/*	--------------------------------------------------
	Global ZURB Styles
	--------------------------------------------------
	We use this file to reset default browser styles 
	and apply our own ZURB styles.
	
	--------------------------------------------------
	Global Reset
	-------------------------------------------------- */
	html, body { margin: 0; padding: 0; }
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, strong, em, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
	table { border-collapse: collapse; border-spacing: 0; }
	ol, ul { list-style: none; }

/*	--------------------------------------------------
	Make it a ZURBody
	-------------------------------------------------- */
	body { background: #fff; font-family: "Arial", Helvetica, Helvetica Neue, Verdana, sans-serif; font-size: 13px; line-height: 18px; text-shadow: 0 0 1px rgba(0,0,0,0.1); color: #333; }
	body.ff2 { opacity: .99; } /* Make our type in FF look uber sexah */
	body.safari { font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

/*	--------------------------------------------------
	Links
	-------------------------------------------------- */
	a { color: #2daebf; text-decoration: underline; outline: 0; line-height: inherit; }
	a:hover { color: #007d9a; }

	a.muted, a.muted:visited { color: #777; }
	a.muted:hover { color: #555; }
	
	h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited { color: #333; text-decoration: none; font-weight: bold; }
	h4 a, h4 a:visited, h5 a, h5 a:visited { text-decoration: none; line-height: inherit; font-weight: bold; }
	h3 a:hover { color: auto; }
	h4 a:hover, h5 a:hover { text-decoration: underline; }
	p a, p a:visited { line-height: inherit; }

/*	--------------------------------------------------
	Typography
	-------------------------------------------------- */
	h1, h2, h3, h4, h5, h6 { color: #333; font-weight: bold; }
	h1 { font-size: 36px; line-height: 1; }
	h2 { font-size: 30px; line-height: 1.2; margin: 9px 0; }
	h3 { font-size: 24px; line-height: 1; margin: 3px 0 9px; }
	h4 { font-size: 18px; line-height: 1; margin: 3px 0 6px; }
	h5 { font-size: 14px; line-height: 18px; }
	h6 { font-size: 13px; line-height: 18px; }

	p { line-height: 18px; margin: 0 0 18px; }
	p img { margin: 0; }
	p.lead { font-size: 18px; line-height: 24px; margin: 0 0 18px; color: #777; }
	
	em { font-style: italic; line-height: inherit; }
	strong { font-weight: bold; line-height: inherit; }
	small { font-size: 90%; line-height: inherit; color: #777; font-weight: normal; }
	
/*	Blockquotes (props to @paulrobertlloyd for inspiration) -------------------- */
	blockquote, blockquote p { font-size: 14px; line-height: 20px; color: #777; }
	blockquote { margin: 0 0 18px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote.solid { background: #f5f5f5; }
	blockquote p { margin: 0; padding: 0 0 9px; }
	blockquote h5 { margin: 0; }
	blockquote cite { display: block; padding: 0 0 9px 6px; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited { color: #555; }
	blockquote cite a:hover { color: #555; text-decoration: none; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 17px 0 18px; height: 0; }
	body.ie6 hr { margin: 8px 0 9px; }
	
	code, pre { font: 12px/18px "Monaco", "Courier New", "Courier", monospace; color: #e33100; }
	
	address { color: #333; line-height: 18px; margin: 0 0 18px; }
	abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }
	abbr { text-transform: none; }

/*	--------------------------------------------------
	Lists
	-------------------------------------------------- */
	ul, ol { margin-bottom: 18px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul ul, ol ol { margin-left: 30px; margin-top: 4px; margin-bottom: 5px; }
	li { line-height: 18px; }

	dt { line-height: 18px; font-weight: bold; color: #333; }
	dd { margin: 0 0 18px; line-height: 18px; }	
	
/*	Code Lists -------------------- */
	ol.code { background: #333; border: 0; margin: 0; padding: 18px; list-style: none; }
	ol.code li { color: #fff; margin: 0; line-height: 18px; padding: 0; font-family: "Consolas", "Courier New", Monaco, Courier, monospace; }
	ol.code li code { font-family: "Consolas", "Courier New", Monaco, Courier, monospace; font-size: 12px; line-height: inherit; color: inherit; }
	ol.code .indent-1 { padding-left: 2em; }
	ol.code .indent-2 { padding-left: 4em; }
	ol.code .indent-3 { padding-left: 6em; }
	ol.code li.selector { color: #39c; }
	ol.code li.property { color: #f63; padding: 0 0 0 2em; }
	ol.code li.property span.value, ol.code .class { color: #9c3; }
	ol.code li.punctuate,
	ol.code li.selector span.punctuate,
	ol.code li.property span.punctuate { color: #999; }

/*	--------------------------------------------------
	Tables
	-------------------------------------------------- */
	table { background: #fff; width: 100%; margin: 0 0 18px; border: solid #ddd; border-width: 0 1px 1px 0; border-collapse: separate; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
	table thead { background: #555; }
	table thead tr th,
	table tbody tr td { font-size: 12px; line-height: 18px; }
	table thead tr {  }
	table thead tr th { padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #fff; }
	table tbody {  }
	table tbody tr {  }
	table tbody tr.even,
	table tbody tr.alt { background: #f5f5f5; }
	body.safari table tbody tr:nth-child(even) { background: #f5f5f5; }
	table tbody tr td { color: #333; padding: 9px 10px; border-left: 1px solid #ddd; border-right: 1px solid #fff; vertical-align: top; }
	/* Get fancy with rounded corners */
	table thead tr th:first-child { -webkit-border-top-left-radius: 5px; -moz-border-radius: 3px 0 0 0; }
	table thead tr th:last-child { -webkit-border-top-right-radius: 5px; -moz-border-radius: 0 3px 0 0; }
	table tbody tr:last-child td:first-child { -webkit-border-bottom-left-radius: 5px; -moz-border-radius: 0 0 0 3px; }
	table tbody tr:last-child td:last-child { -webkit-border-bottom-right-radius: 5px; -moz-border-radius: 0 0 3px 0; }
	/* Style the tables a bit lighter */
	table.alt { border-width: 1px 1px 1px 0; }
	table.alt thead { background: #f5f5f5; }
	table.alt thead tr th { color: #222; border-left: 1px solid #ddd; border-right: 1px solid #fff; }

/*	--------------------------------------------------
	Forms
	-------------------------------------------------- */
	form { margin: 0 0 18px; }
	fieldset {  }
	label { display: block; font-size: 13px; font-weight: bold; line-height: 18px; cursor: pointer; }
	input.input-text, input.password, textarea { display: block; background: #fff; width: ; margin: 0; padding: 3px 4px; border: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-box-shadow: 0 1px 1px #fff; font: 12px/18px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif; text-shadow: 0 0 1px #fff; }
	form input.input-text:focus, form textarea:focus { outline: none; border-color: #999; }
	textarea { width: 272px; }
	span.wrap { background: #eee; display: inline-block; margin: 0 0 14px; padding: 2px; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	span.wrap * { display: inline; vertical-align: top; }
	span.wrap small { font-size: 12px; color: #666; line-height: 18px; padding: 3px 10px 0 2px; position: relative; top: 4px; }

	/* Text input and textarea sizes */
	input.medium, textarea.medium { width: 324px; }
	input.large, textarea.large { width: 564px; }
	input.fluid, textarea.fluid { width: 680px; }

	/* Sets of checkboxes and radio buttons */
	ul.options { margin-bottom: 18px; }
	ul.options li { padding: 0 0 3px; }
	ul.options li label { font-size: 13px; font-weight: normal; }
	ul.options li input.radio,
	ul.options li input.checkbox {  }
	/* Inline options */
	ul.options.inline {  }
	ul.options.inline li { display: inline; padding-right: 8px; }
	ul.options.inline li.label { font-weight: bold; background: none; color: #333; text-transform: none; padding: 0; display: inline; font-size: 13px; }
	ul.options.inline label { display: inline; }
	
	/* Actions (buttons and links) at the bottom of forms) */
	fieldset.actions { margin: 9px 0 0; padding: 12px 0 13px; text-align: right; border-top: 1px solid #ddd; }
	fieldset.actions * { display: inline-block; }

/*	ZURButtons ---------- */
	.button, .button:visited { background: #222 url(/images/alert-overlay.png) repeat-x; display: inline-block; padding: 5px 10px 6px; color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25); position: relative; cursor: pointer; }
	.button:hover { background-color: #111; color: #fff; }
	.button:active { top: 1px; }
	/* Small Buttons */
	.small.button,
	.small.button:visited { font-size: 11px; padding: ; }
	/* Medium Buttons */
	.button, .medium.button,
	.button:visited, .medium.button:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	body.ff3 button.button, body.ff3 button.medium.button { padding: 3px 10px 4px; }
	/* Largre Buttons */
	.large.button,
	.large.button:visited { font-size: 14px; padding: 8px 14px 9px; }
	body.ff3 button.large.button { padding: 6px 10px 7px; }
	/* Colors for our beloved buttons */
	.green.button, .green.button:visited		{ background-color: #91bd09; }
	.green.button:hover							{ background-color: #749a02; }
	.blue.button, .blue.button:visited			{ background-color: #2daebf; }
	.blue.button:hover							{ background-color: #007d9a; }
	.red.button, .red.button:visited			{ background-color: #e33100; }
	.red.button:hover							{ background-color: #872300; }
	.magenta.button, .magenta.button:visited	{ background-color: #a9014b; }
	.magenta.button:hover						{ background-color: #630030; }
	.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
	.orange.button:hover						{ background-color: #d45500; }
	.orangellow.button, .orangellow.button:visited { background-color: #ffb515; }
	.orangellow.button:hover					{ background-color: #fc9200; }
	/* Secondary buttons (perfect for Cancels or other secondary actions */
	.secondary.button,
	.secondary.button:visited { background-color: #ccc; -moz-box-shadow: none; -webkit-box-shadow: none; color: #555; text-shadow: 0 1px 1px rgba(255,255,255,0.5); }
	.secondary.button:hover { background-color: #bbb; color: #444; }

	/* Make the buttons super awesomer */
	.super.button { background-color: #222; background-image: url(/images/super-button-overlay.png); font-size: 13px; padding: 0; border: 1px solid #222; -webkit-border-radius: 15px; -moz-border-radius: 15px; }
	.super.button span { display: block; padding: 5px 20px 9px; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-top: 1px solid rgba(255,255,255,.15); }
	.super.green.button				{ background-color: #91bd09; border-color: #749a02; }
	.super.green.button:hover		{ background-color: #749a02; }
	.super.blue.button				{ background-color: #2daebf; border-color: #007d9a; }
	.super.blue.button:hover		{ background-color: #007d9a; }
	.super.red.button				{ background-color: #e33100; border-color: #872300; }
	.super.red.button:hover			{ background-color: #872300; }
	.super.magenta.button			{ background-color: #a9014b; border-color: #630030; }
	.super.magenta.button:hover		{ background-color: #630030; }
	.super.orange.button			{ background-color: #ff5c00; border-color: #d45500; }
	.super.orange.button:hover		{ background-color: #d45500; }
	.super.orangellow.button 		{ background-color: #fc9200; border-color: #fc9200; }
	.super.orangellow.button:hover	{ background-color: #d17200; border-color: #d17200; }

	
/*	--------------------------------------------------
	Structure
	-------------------------------------------------- */

	/*	Wrapper ------------------------------------- */
	div#wrapper { border-top: 5px solid #b8d30b; clear: left; }

	/*	Container ------------------------------------- */
	div#container { position: relative; width: 880px; margin: 0 auto; padding: 0; }
	body.ie8 div#container { position: static; }
	
	/*	Header ---------------------------------------- */
	div#header { position: relative; height: 54px; margin: 0 auto 36px; }
	/* ZURB logo image */
	div#header img { display: block; float: left; margin: 25px 0 0; }
	/* Text in the header on the top left */
	div#header h3 { float: left; font-size: 24px; line-height: 1; margin: 0; position: absolute; top: 21px; left: 0; letter-spacing: -1px; }
	div#header h3 a, div#header h3 a:visited { font-weight: bold; }
	div#header h3 a:hover { color: #777; }

/*	--------------------------------------------------
	Navigation
	-------------------------------------------------- */
	ul.tabs { float: right; list-style-type: none; margin: 0; }
	ul.tabs li { display: block; float: left; font-size: 1em; padding: 0; line-height: 1; }
	ul.tabs li a, ul.tabs li a:visited { display: block; font-weight: bold; width: 90px; margin: 9px 0 0; padding: 18px 5px 11px 15px; text-decoration: none; color: #333; border-right: 1px solid #eee; cursor: pointer; }
	ul.tabs li a:hover, ul.tabs li.current a, ul.tabs li.current a:visited { background: #b8d30b; color: #fff; border: 0; margin: 0; padding: 27px 6px 11px 15px; text-shadow: 0 -1px 1px rgba(0,0,0,.25); }
	ul.tabs li span { display: block; font-size: 16px; line-height: 1; font-weight: bold; }
	/* Hover colors for each main ZURB section */
	ul.tabs li a.home:hover { background: #b8d30b; }
	ul.tabs li a.talent:hover { background: #a9014b; }
	ul.tabs li a.work:hover { background: #2daebf; }
	ul.tabs li a.blog:hover { background: #ff6908; }
	ul.tabs li a.contact:hover { background: #fc9200; }
	/* Shortened tabs for within apps (dashboard) */
	ul.tabs.short li a,
	ul.tabs.short li a:visited { padding: 9px 5px 13px 15px; }
	ul.tabs.short li a:hover, 
	ul.tabs.short li.current a,
	ul.tabs.short li.current a:visited { padding: 18px 6px 13px 15px; }
	ul.tabs.short li span { font-size: 14px; }


/*	--------------------------------------------------
	Admin Header
	-------------------------------------------------- */
	div#ZURBar { background: #222; height: 36px; width: 100%; }
	div#ZURBar h6 { padding: 0; font-size: 18px; }
	div#ZURBar h6 a { float: left; display: block; margin: 0 10px 0 10px; line-height: 1; color: #fff; text-decoration: none; background: #a5c941; }
	div#ZURBar h6 a:hover {  }

	/* Revamped navigation elements */
	ul.nav { float: left; margin: 0; padding: 0; list-style: none; position: relative; }
	ul.nav li { display: inline; color: #999; line-height: 1; }
	ul.nav li a span { display: inline; font-weight: normal; opacity: .75; line-height: .9; }
	ul.nav li a,  
	ul.nav li.faux-link { float: left; display: inline; width: auto; text-decoration: none; text-shadow: 0 -1px 1px #222; line-height: 1; }
	ul.nav li a { padding: 0 15px; height: 36px; line-height: 36px; font-weight: bold; color: #fff; }
	ul.nav li a:hover { color: #fff; text-decoration: underline; }
	ul.nav li.faux-link a:hover { text-decoration: underline; color: #fff; }

	ul.nav li.faux-link { font-weight: normal; color: #777; height: 36px; line-height: 36px; padding: 0 10px; }
	ul.nav li.faux-link a { display: inline; float: none; padding: 0; height: auto; line-height: 1; }
	ul.nav li.faux-link a:hover { background: none; }
	ul.nav li.faux-link small, 
	ul.nav li.faux-link small a { font-weight: normal; color: #999; }
	
	ul.nav li.search { padding: 0 10px; }
	ul.nav li.search form { line-height: ; }
	ul.nav li.search form input { margin: 7px 0 0; color: #777; }
	
	ul.user.nav li.current a { background: #000; }
	
	/* User and account links in top right */
	ul.account.nav { position: absolute; top: 0; right: 10px; }
	ul.account.nav a { font-weight: normal; }
	
	ul.nav li.menu { position: relative; float: left; }
	ul.nav li.menu a { display: block; float: none; }
	ul.nav li.menu a img.arrow { vertical-align: middle; position: relative; top: -1px; opacity: .5; margin-left: 3px; }
	ul.nav li.menu a:hover { text-decoration: none; }
	ul.nav li.menu ul { background: #111; background: rgba(0,0,0,.95); width: 190px; margin: 0; padding: 5px 0; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius: 0 0 5px 5px; -webkit-box-shadow: rgba(0,0,0,.5) 0 5px 15px; -moz-box-shadow: rgba(0,0,0,.5) 0 5px 15px; position: absolute; top: 36px; left: -999em; z-index: 5000; }
	ul.nav li.menu ul li { display: block; }
	ul.nav li.menu ul li.divider { margin: 4px 1px; border-top: 1px solid #222; border-top-color: rgba(255,255,255,.05); border-bottom: 1px solid #000; border-bottom-color: rgba(0,0,0,.75); }
	ul.nav li.menu ul li a { float: none; display: block; height: auto; padding: 2px 15px; line-height: 18px; font-weight: normal; }
	ul.nav li.menu ul li.secondary a { color: #999; }
	ul.nav li.menu ul li a:hover { background: #222; color: #fff; text-decoration: none; }
	
	ul.nav li.menu:hover { background: #111; background: rgba(0,0,0,.95); }
	ul.nav li.menu:hover ul { left: auto; }
	ul.nav li.menu:hover img.arrow { opacity: 1; }

	ul.nav li.menu ul li.zurbword { padding: 2px 15px; font-weight: bold; color: #fff; line-height: 18px; }

	/* ZURBmenu */
	ul.nav li#ZURBmenu a { padding: 0 12px; }
	ul.nav li#ZURBmenu strong { background-color: #b8d30b; display: block; width: 42px; height: 50px; position: relative; z-index: 5001; }
	ul.nav li#ZURBmenu ul { padding-top: 9px; -webkit-border-bottom-left-radius: 0; -moz-border-radius: 0 0 5px 0; }
	ul.nav li#ZURBmenu ul li a { padding: 2px 15px; }
	ul.nav li#ZURBmenu:hover strong { background: url(/images/zurb-nub-shell-hover.png) no-repeat 0 0; }
	ul.nav li#ZURBmenu:hover strong img { display: none; }


/*	--------------------------------------------------
	Page & Section Headers
	-------------------------------------------------- */
/*	Page headers for marketing pages ---------- */
	div.page-header { width: 100%; position: relative; margin: 0 0 31px; padding: 36px 0 27px; border-bottom: 5px solid #eee; clear: both; background-position: right bottom; background-repeat: no-repeat; }
	div.page-header h1 { display: block; font-size: 81px; line-height: 1; font-weight: bold; letter-spacing: -3px; margin: 0; color: #222; }
	div.page-header h2 { margin: 6px 0 0; font-size: 24px; line-height: 1.25; color: #777; font-weight: normal; }
	div.page-header h2 a, 
	div.page-header h2 a:visited { text-decoration: underline; font-weight: inherit; line-height: inherit; }
	div.page-header h2 a.button { display: inline-block; position: relative; top: -5px; }
	div.page-header h1 span, 
	div.page-header h2 span { display: block; }
	div.page-header h1 small, 
	div.page-header h2 small { font-size: 75%; font-weight: normal; }
/*	Section headers ---------- */
	div.sub-header { position: relative; margin: 0 0 18px; padding: 0 0 8px; border-bottom: 1px solid #ddd; }
	div.sub-header ul { margin-bottom: 0; position: absolute; right: 0; bottom: 8px; }
	div.sub-header li { display: inline; padding: 0 0 0 10px; }
	div.sub-header li a { color: #777; }
	div.sub-header li a:hover { color: #555; }
	
/*	New secondary page headers for marketing pages and apps */
	div#pageHeader {  }
	div#pageHeader h1 { margin: 6px 0 8px; font-size: 30px; line-height: 1; letter-spacing: -1px; }
	div#pageHeader h1 small { font-size: 18px; }
	div#pageHeader div { height: 27px; padding: 0 0 18px; xborder-top: 2px solid #ddd; overflow: hidden;  }
	div#pageHeader ul { float: left; margin: 0 0 0 -4px; }
	div#pageHeader li { display: inline; }
	div#pageHeader li.divider { float: left; width: 2px; height: 24px; margin: 0 6px 0 10px; background: #ddd; }
	div#pageHeader li a { float: left; width: auto; margin: 0 0 0 4px; padding: 5px 12px 7px; text-decoration: none; -webkit-border-radius: 12px; -moz-border-radius: 12px; font-weight: bold; color: #333; line-height: 1; }
	div#pageHeader li a:hover,
	div#pageHeader li.current a { background: #a5c941; color: #fff; }


/*	--------------------------------------------------
	Grid
	-------------------------------------------------- */
	.column-row { margin: 0 0 18px -20px; }
	.column, .columns { float: left; display: inline; margin: 0 0 0 20px; }

	#contentMain { width: 520px; }
	#contentSec { width: 300px; margin-left: 60px; }

	.one 					{ width: 40px; }
	.two 					{ width: 100px; }
	.three 					{ width: 160px; }
	.four 					{ width: 220px; }
	.five 					{ width: 280px; }
	.six 					{ width: 340px; }
	.seven 					{ width: 400px; }
	.eight 					{ width: 460px; }
	.nine 					{ width: 520px; }
	.ten 					{ width: 580px; }
	.eleven 				{ width: 640px; }
	.twelve 				{ width: 700px; }
	.thirteen 				{ width: 760px; }
	.fourteen 				{ width: 820px; }
	.fifteen 				{ width: 880px; }
	.sixteen 				{ width: 940px; }
	.one-half 				{ width: 420px; padding-right: 10px; }
	.one-third 				{ width: 280px; }
	.two-thirds 			{ width: 580px; }
	.eleven .column-row 	{ width: 660px; }
	.twelve .column-row 	{ width: 760px; }
	
	.offset-by-one-half 	{ margin-left: 50px; }
	.offset-by-one 			{ margin-left: 80px; }
	.offset-by-two 			{ margin-left: 140px; }
	.offset-by-three 		{ margin-left: 200px; }
	.offset-by-four 		{ margin-left: 260px; }
	.offset-by-five 		{ margin-left: 320px; }
	.offset-by-six 			{ margin-left: 380px; }
	.offset-by-seven 		{ margin-left: 440px; }
	.offset-by-eight 		{ margin-left: 500px; }
	.offset-by-nine 		{ margin-left: 560px; }
	.offset-by-ten 			{ margin-left: 620px; }
	.offset-by-eleven 		{ margin-left: 680px; }
	.offset-by-twelve 		{ margin-left: 740px; }
	.offset-by-thirteen 	{ margin-left: 800px; }
	.offset-by-fourteen 	{ margin-left: 880px; }
		
	.last { margin: 0; }
	
	/* Clear the columns automagically, thanks @kneath */
	.column-row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	* html .column-row { height: 1%; }
	.column-row { display: inline-block; }
	.column-row { display: block; }

/*	IE6 Problems ---------- */
	body.ie .column-row 			{ width: 900px; }
	body.ie .eight .column-row		{ width: 480px; }
	body.ie .nine .column-row		{ width: 540px; }
	body.ie .ten .column-row		{ width: 600px; }
	body.ie .eleven .column-row 	{ width: 660px; }
	body.ie .twelve .column-row		{ width: 720px; }
	body.ie .thirteen .column-row	{ width: 780px; }
	body.ie .fourteen .column-row	{ width: 840px; }
	body.ie .fifteen .column-row	{ width: 900px; }
		
		
/*	----------------------------------------
	Alerts & Errors
	---------------------------------------- */
	/* Plain, Simple Alert */
	p.warning, p.error, p.success, p.info { margin: 0 0 18px; padding: 9px 15px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #fff; text-shadow: 0 0 1px rgba(0,0,0,0.01); }
	p.warning a, p.error a, p.success a, p.info a { color: #fff; font-weight: bold; text-decoration: underline; }

	/* Warnings */
	p.warning { background-color: #ffb515;  }
	p.warning small { color: #d17200; }

	/* Errors */
	p.error { background-color: #df4729; color: #fff; }
	p.error strong { color: #fff; }
	p.error small { color: #930; }

	/* Success */
	p.success { background-color: #a5c941; color: #fff; }
	p.success strong { color: #fff; }
	p.success small { color: #360; }
	
	p.info { background-color: #73cacf; color: #fff; }
	p.info small { color: #007d9a; }

/*	--------------------------------------------------
	Figures & Images
	-------------------------------------------------- */
	div.figure { background: #eee; margin: 0 0 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
	div.figure img, 
	div.post div.figure img { display: block; margin: 0; border: 1px solid #ccc; }
	div.figure cite { display: block; padding: 8px 10px; font-size: 13px; line-height: 18px; color: #555; }
	div.figure cite strong { color: #333; }
	
	div.simple.figure { background: #fff; }
	div.simple.figure img { border: 0; }
	div.simple.figure cite { padding: 8px 0; color: #777; }
	div.simple.figure cite strong { color: #555; }

	div.clean.figure img { border: 0; margin: 1px; }
	
	div.floated.figure, 
	div.right.figure { float: right; margin: 0 0 18px 18px; }
	div.left.figure { float: left; margin: 0 18px 18px 0; }
	
	div.large.figure, 
	body.ie6 div.large { width: 520px; }
	div.large.figure img { width: 518px; } 
	div.medium.figure { width: 340px; }
	div.medium.figure img { width: 338px; } 
	div.small.figure { width: 220px; } 
	div.small.figure img { width: 218px; } 
	

/*	--------------------------------------------------
	Custom Labels
	-------------------------------------------------- */
	.label { background: #999; display: inline-block; padding: 3px 5px 4px; color: #fff; font-size: 11px; font-weight: bold; text-decoration: none; text-transform: uppercase; line-height: 1; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 0 1px transparent; }
	.label:hover { text-decoration: none; color: #fff; }
	body.ff2 .label { -moz-border-radius: 0; }
	
	/* ZURB colors */
	.label.green { background: #a5c941; text-shadow: 0 0 1px #a5c941; }
	.label.blue { background: #2daebf; text-shadow: 0 0 1px #2daebf; }
	.label.magenta { background: #a9014b; text-shadow: 0 0 1px #a9014b; }
	.label.red { background: #e33100; text-shadow: 0 0 1px #e33100; }
	.label.orange { background: #ff5c00; text-shadow: 0 0 1px #ff5c00; }
	.label.yellow { background: #fc9200; text-shadow: 0 0 1px #fc9200; }

	/* Other Basics */
	.label.black { background: #333; text-shadow: 0 0 1px #222; }
	.label.white { background: #fff; padding: 0 3px 1px; border: 1px solid #ddd; color: #333; text-shadow: 0 0 1px #fff; }
	

/*	--------------------------------------------------
	=Misc
	-------------------------------------------------- */
	.left	{ float: left; }
	.right	{ float: right; }
	.clear	{ clear: both; }
	.muted	{ color: #777; }
   
	div.pagination { width: 100%; height: 36px; text-align: center; margin: 0 0 36px; padding: 0; font-size: 12px; line-height: 1; }
	div.pagination a, div.pagination a:visited { padding: 3px 11px 4px; font-size: 12px; line-height: 1; text-decoration: none; font-weight: bold; border: 1px solid #ddd; text-shadow: 0 1px 1px #fff; -webkit-border-radius: 2px; }
	div.pagination a:hover { color: #fff; text-shadow: 0 -1px 1px #007d9a; background: #2daebf; border: 1px solid #007d9a; }
	div.pagination .disabled { color: #bbb; border: 0; }
	div.pagination .current { padding: 4px 12px 5px; color: #777; font-weight: bold; }
	.inactive { color: #777; }
	div.pagination .prev_page, div.pagination .next_page { margin: 0 20px 0 20px; }

/*	--------------------------------------------------
	Misc
	-------------------------------------------------- */
	.right { float: right; }
	.important { color: #e33100; }
	.centered { text-align: center; }
	div.spacer { clear: both; }
	